{% extends 'CPApi/base.html' %}

<!DOCTYPE html>

{% block content %}

<div class="column">
  <p>
    Submit a question to your local community here.
  </p>

</div>

<div class="column-is-one-third">
  <form method="post">
        {% csrf_token %}
        <div class="textarea is-success is-medium">
          {{ form.as_p }}
        </div>
        <div>
          {{ form_choice.as_p }}
        </div>
        <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">Submit
        </button>
    </form>
</div>

<div class="column is-one-fifth">
  <div class="block">
    <a href="{% url 'CPApi:index' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Index
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:profile' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Profile
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:addquestion' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Submit a Question
        </button>
    </a>
  </div>
</div>


{% endblock content %}