{% extends 'CPApi/base.html' %}

<!DOCTYPE html>

{% block content %}  



<div class="column">
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
        <div class="box">
            <p class="title is-4">
              <li><a href="{% url 'CPApi:detail' question.id %}">{{ question.question_text }}</a></li>
            </p>
            <span class="is-small has-text-grey-light">
              ({{ question.pub_date }} by {{ question.owner }})
            </span>
        </div>
{% endfor %}
</ul>
{% else %}
        <p>No issues are available.</p>
     {% endif %}
</div>

<div class="column is-one-fifth">
  <div class="block">
    <a href="{% url 'CPApi:index' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Index
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:profile' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Profile
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:addquestion' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Submit a Question
        </button>
    </a>
  </div>
</div>


{% endblock content %}