{% extends 'CPApi/base.html' %}

<!DOCTYPE html>

<head>
    {% block title %}
      <title>Community Process Profile</title>
    {% endblock %}
</head>

{% block content %}
  <p>
    Welcome to Community Process Profile page
    <em></em>!
  </p>


<div class="column is-one-fifth">
  <div class="block">
    <a href="{% url 'CPApi:index' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Index
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:profile' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Profile
        </button>
    </a>
  </div>
  <div class="block">
    <a href="{% url 'CPApi:addquestion' %}">
        <button class="button is-dark is-outlined is-fullwidth">
            Submit a Question
        </button>
    </a>
  </div>
</div>

{% endblock %}


