
<html>

<body>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav">
              <li><a href="{% url 'CPApi:index' %}">Index</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Logout</a></li>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block bar %}{% endblock %}</div>
      </div>
    </div>
</body>

<head>
    {% block title %}
      <title>Community Process Profile</title>
    {% endblock %}
</head>

{% block content %}
  <h1>Community Process Account Profile</h1>
  <p>
    Welcome to Community Process Profile page
    <em></em>!
  </p>
{% endblock %}


</html>